.page-privacy {
    
    .page-headers {
        background-position: center 86%;

        .pre-header {
            padding-top: 70px;

            .btn {
                padding-left: 15px;
            }
        }
    }

    .site-titles {
        margin-top: -40px;
        margin-bottom: 30px;
    }

    @media screen and ($md-min) {
        
        .page-headers {

            .pre-header {
                padding: 130px 0 180px;
            }
        }

        .site-titles {
            margin-top: -55px;

            .title {
                font-size: 5.5rem;
            }
        }
    }
}