.alvosContainer{
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    padding: 0px 5%;
    color: #293f86;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10%;

    .alvosCarousel{
        flex: 1;
        height: 100%;
        display: flex;

        .owl-dots{
            display: flex;
            margin: 15px 0px;
            width: 100%;
            justify-content: center;
        
            .owl-dot span {
              background:#b6c95a;
              border-radius: 20px;
              display: block;
              height: 12px;
              margin: 5px 7px;
              opacity: 0.8;
              width: 12px;
            }
        
            .owl-dot.active span{
              background: #293f86;
              height: 15px;
              width: 15px;
            }
          }

        .alvosCarouselItem{

            .imagem{
                background-color: silver;
                width: 100%;
                height: 250px;
                margin-bottom: 10px;
                border-radius: 70px 0px 70px 0px;
                overflow: hidden;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h1{
                margin: 20px 0px;
            }

            a{
                text-decoration: none;
                background-color: #b6c95a;
                padding: 10px 15px;
                // font-size: 20px;
                color: #293f86;
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
                border-radius: 0 25px 0 25px;

                &:hover{
                    background-color: #293f86;
                    color: white;
                }
                margin-bottom: 10px;
            }


            flex: 1;
            min-width: 300px;
            padding: 10px 0px;
        }
    }
}