

.CulturasCarousel{
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10%;
  margin-top: 60px;

  .owl-dots{
    display: flex;
    margin: 15px 0px;
    width: 100%;
    justify-content: center;

    .owl-dot span {
      background:#b6c95a;
      border-radius: 20px;
      display: block;
      height: 12px;
      margin: 5px 7px;
      opacity: 0.8;
      width: 12px;
    }

    .owl-dot.active span{
      background: #293f86;
      height: 15px;
      width: 15px;
    }
  }
}




  